/* BASIC STYLES HERE */

.nav-font{
  font-family: 'Merriweather', serif;
  font-family: 'Vibur', cursive;
  font-size: 36px;
}

body{
  font-family: 'Merriweather', serif;
  font-family: 'Vibur', cursive;
  font-family: 'Yaldevi', sans-serif;
}

h6{
  line-height: 31.58px;
}

.reservations-height{
  height: 75vh;
}

.reservations-height-overflow{
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
}

hr{
  width: 95%;
  background-color: black;
  opacity: 1;
  margin: auto;
}


/* TODO need to get the input background color dialed in */
input{
  background-color: #C4C4C4!important;
}

p{
  margin: 0;
}

.delete-reservation{
  right: 0.5em;
  top: 0.2em;
}