/* BASIC STYLES HERE */

.nav-font{
  font-family: 'Merriweather', serif;
  font-family: 'Vibur', cursive;
  font-size: 36px;
}

body{
  font-family: 'Merriweather', serif;
  font-family: 'Vibur', cursive;
  font-family: 'Yaldevi', sans-serif;
}

h6{
  line-height: 31.58px;
}

.reservation-height{
  height: 75vh;
}


p{
  margin: 0;
}